
<div class="bg-image"></div>
<form [formGroup]="forgetPwdForm">
    <div class="login-content">
        <mat-card>

            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Forget Password</mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <div  fxLayout="column wrap" fxLayout.xs="column" fxLayoutGap="10px">
                    
                    <mat-form-field appearance="outline" [ngClass]="{'has-error':!email.valid && email.touched }">
                        <mat-label>Email</mat-label>
                        <input matInput name="email"  [formControl]="email">
                        <mat-error *ngIf="email.invalid">{{errMsgSrv.getFormErrorMessage(email)}}</mat-error>
                    </mat-form-field>
                    <!-- <p>OR</p>
                    <mat-form-field appearance="outline" [ngClass]="{'has-error':!mobile.valid && mobile.touched }">
                        <mat-label>Mobile</mat-label>
                        <input matInput name="mobile"  type="number" [formControl]="mobile">
                        <mat-error *ngIf="mobile.invalid">{{errMsgSrv.getFormErrorMessage(mobile)}}</mat-error>
                    </mat-form-field> -->
                    <div *ngIf="error">
                            <font color="red">{{error}}</font>
                    </div>
                    <div *ngIf="success">
                            <font color="green">{{success}}</font>
                    </div>
                </div>
            </mat-card-content>

            <mat-card-actions fxLayout="column">
               <button color="primary" mat-raised-button (click)="resetPassword(forgetPwdForm.value)" [disabled]="!forgetPwdForm.valid || disabled" >Submit</button>
                <div fxLayout="row">
                    <a  class="forget-btn" color="primary" mat-button [routerLink]="[ '/auth/login' ]" ><i class="zmdi zmdi-arrow-left zmdi-hc-fw"></i>login</a>
                </div>
            </mat-card-actions>
        </mat-card>
    </div>
</form>