
<div class="bg-image"></div>
<form [formGroup]="resetPwdForm">
    <div class="login-content">
        <mat-card>

            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Password Reset</mat-card-title>
            </mat-card-header>

            <mat-card-content>
                <div  fxLayout="column wrap" fxLayout.xs="column" fxLayoutGap="10px">
                    
                    <mat-form-field appearance="outline" [ngClass]="{'has-error':!password.valid && password.touched }">
                        <mat-label>Password</mat-label>
                        <input matInput name="password"  [formControl]="password">
                        <mat-error *ngIf="password.invalid">{{errMsgSrv.getFormErrorMessage(password)}}</mat-error>
                    </mat-form-field>

                    <mat-form-field appearance="outline" [ngClass]="{'has-error':!confirmPassword.valid && confirmPassword.touched }">
                        <mat-label>Re Password</mat-label>
                        <input matInput name="confirmPassword"  [formControl]="confirmPassword">
                        <mat-error *ngIf="confirmPassword.invalid">{{errMsgSrv.getFormErrorMessage(confirmPassword)}}</mat-error>
                        <mat-error *ngIf="(confirmPassword.value !=null && confirmPassword.value != password.value)">Both Password Must Be Same</mat-error>
                    </mat-form-field>
                    
                    <div *ngIf="error">
                            <font color="red">{{error}}</font>
                    </div>
                    <div *ngIf="success">
                            <font color="green">{{success}}</font>
                    </div>
                </div>
            </mat-card-content>

            <mat-card-actions fxLayout="column">
               <button color="primary" mat-raised-button (click)="resetPassword(resetPwdForm.value)" [disabled]="!resetPwdForm.valid || disabled" >Submit</button>
                <div fxLayout="row">
                    <a  color="primary" class="forget-btn" mat-button [routerLink]="[ '/auth/login' ]" ><i class="zmdi zmdi-arrow-left zmdi-hc-fw"></i>login</a>
                </div>
            </mat-card-actions>
        </mat-card>
    </div>
</form>